@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}
*{
    font-family: "Afacad Flux", sans-serif;
}

.big-div{
    height: 100%;
    width: 100%;
}
.pdf-resume iframe{
    width: 2048px;
    height: 1024px;
}

.crshovered{
    cursor: pointer;
}

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
.parent-div{
    background-color: black;
    height: 200px;
    border-radius: 20px;
    border: 2px solid black;
    width: 200px;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: scale(0.8); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    align-items: center;
    color: white;
    padding: 20px;
}
.parent-div.visible {
    opacity: 0.95; 
    transform: scale(1);
}

.hello-there{
    position: absolute;
    background-color: black;
    height: 600px;
    width: 500px;
    padding: 20px;
    color: white;
    border-radius: 30px;
    top: 50%;
    opacity: 0.95;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
  }