@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}
*{
    font-family: "Afacad Flux", sans-serif;
}

.big-div{
    height: 100%;
    width: 100%;
}
.pdf-resume iframe{
    width: 2048px;
    height: 1024px;
}

.crshovered{
    cursor: pointer;
}

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
.parent-div{
    background-color: black;
    height: 200px;
    border-radius: 20px;
    border: 2px solid black;
    width: 200px;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: scale(0.8); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    align-items: center;
    color: white;
    padding: 20px;
}
.parent-div.visible {
    opacity: 0.95; 
    transform: scale(1);
}

.pop-up{
    border-radius: 20px;
    position: absolute;
    background-color: black;
    height: 500px;
    width: 650px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.image-div{
    background-color: #1A1A1A;
    height: 501px;
    width: 100%;
    position: absolute;
    top: -0.5px;
    z-index: -1;
    clip-path: polygon(0 0, 40% 0, 53% 100%, 0% 100%);
    border-radius:20px;

}
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-button {
    background: transparent;
    border: none;
    color: black;
    font-size: 26px;
    cursor: pointer;
    align-self: flex-end;
    margin: 10px 10px 0px 0px;
  }
  .image-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container img{
    width: 200px;
    margin-left: 30px;
    height: 200px;
    object-fit: contain;
  }
  .main-content-div{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .text-container{
    margin-left: 80px;
    width: 50%;
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: start;

  }

  .ecosystem-div{
    display: flex;
    justify-content: space-around;

  }
  .ecosystem-header{
    margin-top: 20px;
  }
  .ecosystem-div img{
    width: 50px;
    height: auto;
  }