@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}
*{
    font-family: "Afacad Flux", sans-serif;
}

.big-div{
    height: 100%;
    width: 100%;
}
.pdf-resume iframe{
    width: 2048px;
    height: 1024px;
}

.crshovered{
    cursor: pointer;
}

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
.parent-div{
    background-color: black;
    height: 200px;
    border-radius: 20px;
    border: 2px solid black;
    width: 200px;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: scale(0.8); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    align-items: center;
    color: white;
    padding: 20px;
}
.parent-div.visible {
    opacity: 0.95; 
    transform: scale(1);
}

.pop-up{
    border-radius: 20px;
    position: absolute;
    background-color: black;
    height: 500px;
    width: 650px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.image-div{
    background-color: #1A1A1A;
    height: 501px;
    width: 100%;
    position: absolute;
    top: -0.5px;
    z-index: -1;
    clip-path: polygon(0 0, 40% 0, 53% 100%, 0% 100%);
    border-radius:20px;

}
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-button {
    background: transparent;
    position: sticky;
    top: 0;
    border: none;
    color: black;
    font-size: 26px;
    cursor: pointer;
    align-self: flex-end;
    margin: 10px 10px 0px 0px;
  }
  .image-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container img{
    width: 200px;
    margin-left: 30px;
    height: 200px;
    object-fit: contain;
  }
  .main-content-div{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .text-container{
    margin-left: 80px;
    width: 50%;
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: start;

  }

  .ecosystem-div{
    display: flex;
    justify-content: space-around;

  }
  .ecosystem-header{
    margin-top: 20px;
  }
  .ecosystem-div img{
    width: 50px;
    height: auto;
  }

  .project-pop-up{
    overflow: auto;
    padding: 10px;
    position: absolute;
    background-color: black;
    height: auto;
    height: 100vh;
    margin-top: 50px;
    width: 70%;
    color: #1A1A1A;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }
  .project-wrapper-div{

    color: #1A1A1A;
  }
  .project-wrapper-div h1{
    text-align: center;
    font-size: 60px;
    margin: 0;
  }
  .project-wrapper-body{
    padding: 40px;
  }
  .project-image-card{
    
    width: 100%;
  }
  .project-image-card img{
    width: 100%;
  }
  .project-technologies{
    display: flex;

  }
  .project-technologies div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
  }
  .project-technologies b{
    justify-self: flex-start;
    text-align: sta;
  }
  .project-technologies img{
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

.me-pop-up{
    overflow: auto;
    padding: 20px;
    position: absolute;
    background-color: white;
    height: auto;
    height: 80vh;
    width: 40%;
    color: #1A1A1A;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
}
.me-pop-up h2{
  text-align: center;
  font-size: 60px;
  margin: 0;
}
.gradient-header{
  background-image: linear-gradient(#02AAB0,#00CDAC);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;  
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100px;
  border-radius: 20px 20px 0px 0px;
}
.gradient-header img{
  border-radius: 100%;
  height: 120px;
  object-fit: cover;
  margin-bottom: -60px;
  width: 120px;
}
.about-me-wrapper{
  height: 100%;
}
.about-me-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-top:90px;
  align-items: center;
}


@media (max-width: 650px) {

  .pop-up .image-div,.pop-up .image-container{
     display: none;
  }
  .pop-up{
    width: 95%;
    height: 450px;
  }
  .main-content-div{
    padding: 10px;
  }
  .text-container{
    width: 100%;
    margin-left: 0;
  }
  .project-pop-up{
    width: 95%;
  }
  .project-technologies{
    display: flex;
    flex-direction: column;
  }
  .project-technologies div{
    width: 100%;
  }
  .project-wrapper-body{
    padding: 15px;
  }
  .me-pop-up{
    width: 85%;
  }
  .about-me-content{
    height: auto;

    overflow: auto;
  }
}

